################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eShop/Client/ClientSide-Kahreedo.pk/.vs/ClientSide-Kahreedo.pk
/eShop/Client/ClientSide-Kahreedo.pk/Kahreedo/obj/Debug
